@import url('https://fonts.cdnfonts.com/css/market-deco');

div.landing-top-bar {
    background-color: rgb(19, 35, 52);
    color: white;
    text-align: center;
}

div.landing-top-bar img {
    height: 160px;
}
